extends layout

block content
  button.btn Sesame
  script(type='text/javascript')

    document.ontouchstart = function(e){ 
      e.preventDefault(); 
    }

    $(".btn").fastClick(function(){
      $.get('/open', function(){
        });
    });