body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  color: #fff;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  border: 0;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  height: 40px;
  text-align: center;
  width: 80%;
}